<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/core.css}"/>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<a href="/movies" th:href="@{/movies/add}">New Movies</a>
<h2>Movie List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>IMDB Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td><a href="hallo" th:href="|${movie.id}|"><span th:text="${movie.title}"/> </a></td>
        <td th:text="${movie.year}"></td>
        <td th:text="${movie.imdbRating}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>