<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<a href="/actors/add" th:href="@{/actors/add}">New Actor</a>
<h2>Actor List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="actor : ${actors}">
        <td><a href="hallo" th:href="|${actor.id}|"><span th:text="${actor.firstname}" /> </a></td>
        <td th:text="${actor.lastname}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>